header {
    display: flex;
    height: 10vh;
    background-color: tomato;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}

header a{
    margin-right: 50px;
    color: bisque;
}

#home {
    background-color: rgb(60, 162, 128);
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
}

#searchByType {
    height: 20px;
    margin: 5px 20px;
}

#searchByName {
    height: 15px;
    margin: 5px 20px;
}

#adopted {
    background-color: khaki;
    height: 85vh;
}

#user {
    background-color: burlywood;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

#donate {
    background-color: bisque;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 10px;
}

#donoPage {
    
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

}

footer {
    height: 5vh;
    background-color: rgb(161, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
}

.container {
    position: relative;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    background-color: rgb(167, 112, 45);
    width: 180px;
    height: 320px;
    margin: 10px;
}

button:hover {
    background-color: black;
    color: bisque;
}

table, th, td {
    display: relative;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
  }

  #login {
    height: 30vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#register {
    height: 30vh;
    background-color: rgb(129, 173, 206);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}